127.0.0.1       localhost

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

10.10.11.10 RockyPBS
10.10.11.11 UbuntuPBS
10.10.11.12 Rockycontroller
10.10.11.13 Rockycompute
10.10.11.14 Ubuntucontroller
10.10.11.15 Ubuntucompute
